<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asura.android_study">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.guessnumber.GuessNumberActivity" />
        <activity android:name=".ui.font.FontActivity" />
        <activity android:name=".ui.horizontallistview.HorizontalListViewActivity" />
        <activity android:name=".ui.canvas.CanvasActivity" />
        <activity
            android:name=".ui.customdata.CustomDataActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.asura.promote.CustomDataActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.service.music.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.service.music.MessengerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.behavior.CoordinatorLayoutActivity" />
        <activity android:name=".ui.behavior.UCBehaviorActivity" />
        <activity android:name=".ui.fragtofrag.Fragment2Activity" />
        <activity android:name=".ui.itemtype.ItemTypeActivity" />
        <activity android:name="com.asura.android_study.ui.viewpager.ViewPagerActivity" />
        <activity android:name="com.asura.android_study.ui.viewpager.multi.MultiViewPagerActivity" />
        <activity android:name=".ui.bottomnav.BottomNavActivity" />
        <activity android:name=".ui.leafloading.LeafLoadingActivity" />
        <activity android:name=".ui.rxjava.RxJavaActivity" />
        <activity android:name="com.asura.android_study.ui.constranitlayout.ConstraintLayoutActivity" />
        <activity android:name="com.asura.android_study.ui.constranitlayout.ConstraintLayoutTransitionActivity" />
        <activity android:name=".ui.album.AlbumActivity" />
        <activity android:name="com.asura.android_study.ui.threadpool.threadpool.ThreadPoolActivity" />
        <activity android:name="com.asura.android_study.ui.threadpool.step1.ThreadPool2Activity" />
        <activity android:name="com.asura.android_study.ui.eventbus.SubscribeActivity" />
        <activity android:name="com.asura.android_study.ui.eventbus.PublishActivity" />
        <activity android:name="com.asura.android_study.ui.eventbus.StickyActivity" />
        <activity android:name="com.asura.android_study.ui.eventbus.PublishPriorityActivity" />
        <activity android:name="com.asura.android_study.ui.floatwindow.FloatWindowActivity" />
        <activity android:name="com.asura.android_study.ui.slidingchecklayout.SlidingCheckLayoutActivity" />
        <activity android:name="com.asura.android_study.ui.section.SectionActivity" />

        <service
            android:name=".ui.service.music.MusicService"
            android:enabled="true" />
        <service
            android:name=".ui.service.music.MessengerService"
            android:enabled="true" />

        <!-- 配置实时壁纸Service -->
        <service
            android:name=".view.CameraLiveWallpaper"
            android:label="透明壁纸"
            android:permission="android.permission.BIND_WALLPAPER">
            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <service android:name="com.asura.android_study.ui.floatwindow.service.SuspendwindowService" />
        <service
            android:name="com.asura.android_study.ui.floatwindow.service.WorkAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/allocation" />
        </service>
    </application>

</manifest>